<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Models</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card class="models-list-card">
          <ion-card-header>
            <ion-card-title>Models</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="models-list">
              @for (model of allModels; track model) {
              <ion-item
                (click)="selectedModel = model"
                [class.selected]="selectedModel?.id === model.id "
                lines="none"
                button
              >
                <ion-label>
                  <h2>{{ model.name }}</h2>
                </ion-label>
              </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="9">
        <ion-card class="models-list-card">
          <div style="height: calc(100vh - 120px); overflow-y: auto">
            <div class="sticky-searchbar">
              @if(selectedModel) {
              <ion-card-content>
                <div style="display: grid; grid-template-columns: 600px 1fr">
                  <div>
                    <img
                      src="https://ionicframework.com/docs/img/demos/card-media.png"
                      alt="pct"
                    />
                  </div>
                  <div>
                    <ion-list class="info-list">
                      <ion-item lines="none">
                        <ion-label>
                          <span class="info-label"> name </span>
                          <span class="info-value">
                            {{ selectedModel.name }}
                          </span>
                        </ion-label>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label>
                          <span class="info-label"> gender </span>
                          <span class="info-value">
                            {{ selectedModel.gender }}
                          </span>
                        </ion-label>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label>
                          <span class="info-label"> created at </span>

                          <span class="info-value">
                            {{ selectedModel.created_at | date:'mediumDate'}}
                          </span>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="pictures">
                  @for (item of [1,2,3,4,5]; track $index) {
                  <ion-card>
                    <img
                      src="https://ionicframework.com/docs/img/demos/card-media.png"
                      alt="pct"
                    />
                  </ion-card>
                  }
                </div>
                <div>
                  <ion-list>
                    <!-- basic_price -->
                    <ion-card class="price-card-content">
                      <ion-toolbar style="--background: transparent">
                        <ion-card-header>Base Price</ion-card-header>
                        <ion-buttons slot="end">
                          <ion-chip
                            (click)=" category = 'base_price'; isModalOpen = true"
                          >
                            Add New
                          </ion-chip>
                        </ion-buttons>
                      </ion-toolbar>

                      <ion-card-content>
                        @for (item of selectedModel?.base_price; track $index) {

                        <div lines="none" class="price-input-item">
                          <ion-note>{{ $index + 1 }}.</ion-note>
                          <ion-input
                            mode="md"
                            class="modern-input"
                            fill="outline"
                            label="Size"
                            [(ngModel)]="item.key"
                            (ionChange)="updateValue('base_price', item.key, item.value)"
                            labelPlacement="floating"
                          >
                          </ion-input>
                          <ion-input
                            mode="md"
                            class="modern-input"
                            fill="outline"
                            label="Cost"
                            labelPlacement="floating"
                            [(ngModel)]="item.value"
                            (ionChange)="updateValue('base_price', item.key, item.value)"
                            type="number"
                          >
                            <div slot="start">₹</div>
                          </ion-input>

                          <ion-badge
                            color="danger"
                            button
                            (click)="delete(item.key, item.value, 'base_price')"
                          >
                            <ion-icon name="close" color="light"></ion-icon>
                          </ion-badge>
                        </div>

                        }
                        <ion-buttons class="save-button">
                          <ion-button (click)="saveChanges('base_price')">
                            save
                          </ion-button>
                        </ion-buttons>
                      </ion-card-content>
                    </ion-card>

                    <!-- fabric_usage -->
                    <ion-card class="price-card-content">
                      <ion-toolbar style="--background: transparent">
                        <ion-card-header>Fabric Usage</ion-card-header>
                        <ion-buttons slot="end">
                          <ion-chip
                            (click)=" category = 'fabric_usage'; isModalOpen = true"
                          >
                            Add New
                          </ion-chip>
                        </ion-buttons>
                      </ion-toolbar>
                      <ion-card-content>
                        @for (item of selectedModel.fabric_usage; track $index)
                        {

                        <div lines="none" class="price-input-item">
                          <ion-note>{{ $index + 1 }}.</ion-note>
                          <ion-input
                            mode="md"
                            class="modern-input"
                            fill="outline"
                            label="Size"
                            [(ngModel)]="item.key"
                            (ionChange)="updateValue('fabric_usage', item.key, item.value)"
                            labelPlacement="floating"
                          >
                          </ion-input>
                          <ion-input
                            mode="md"
                            class="modern-input"
                            fill="outline"
                            label="Fabric Usage"
                            labelPlacement="floating"
                            [(ngModel)]="item.value"
                            (ionChange)="updateValue('fabric_usage', item.key, item.value)"
                            type="number"
                          >
                            <div slot="start">₹</div>
                          </ion-input>
                          <ion-badge
                            color="danger"
                            button
                            (click)="delete(item.key, item.value, 'fabric_usage')"
                          >
                            <ion-icon name="close" color="light"></ion-icon>
                          </ion-badge>
                        </div>

                        }
                        <ion-buttons class="save-button">
                          <ion-button (click)="saveChanges('fabric_usage')">
                            save
                          </ion-button>
                        </ion-buttons>
                      </ion-card-content>
                    </ion-card>

                    <!-- customizations -->
                    <ion-card>
                      <ion-toolbar style="--background: transparent">
                        <ion-card-header>Customizations</ion-card-header>
                        <ion-buttons slot="end">
                          <ion-chip
                            (click)=" category = 'customizations'; isModalOpen = true"
                          >
                            Add New
                          </ion-chip>
                        </ion-buttons>
                      </ion-toolbar>
                      <div>
                        @for (item of selectedModel.customizations; track
                        $index) {
                        <div class="custom">
                          <ion-card class="card-picture">
                            <img
                              src="https://ionicframework.com/docs/img/demos/card-media.png"
                              alt="pct"
                            />
                          </ion-card>
                          <div class="custom-input">
                            <ion-input
                              mode="md"
                              class="modern-input"
                              fill="outline"
                              label="name"
                              [(ngModel)]="item.name"
                              labelPlacement="floating"
                            >
                            </ion-input>
                            <ion-input
                              mode="md"
                              class="modern-input"
                              fill="outline"
                              label="price"
                              [(ngModel)]="item.base_price"
                              labelPlacement="floating"
                            >
                              <div slot="start">₹</div>
                            </ion-input>
                            <ion-badge
                              color="danger"
                              button
                              (click)="deleteCustomization('customizations', item.name)"
                            >
                              <ion-icon name="close" color="light"></ion-icon>
                            </ion-badge>
                          </div>
                        </div>

                        }
                      </div>
                    </ion-card>

                    <!-- fabric -->
                    <ion-card>
                      <ion-toolbar style="--background: transparent">
                        <ion-card-header>Fabric</ion-card-header>
                        <ion-buttons slot="end">
                          <ion-chip
                            (click)=" category = 'fabrics'; isModalOpen = true"
                          >
                            Add New
                          </ion-chip>
                        </ion-buttons>
                      </ion-toolbar>
                      @for (item of getKeyPairValues(selectedModel.fabrics);
                      track $index) {

                      <div class="custom">
                        <ion-card class="card-picture">
                          <img
                            src="https://ionicframework.com/docs/img/demos/card-media.png"
                            alt="pct"
                          />
                        </ion-card>
                        <div class="custom-input">
                          <ion-input
                            mode="md"
                            class="modern-input"
                            fill="outline"
                            label="name"
                            [value]="item.key"
                            labelPlacement="floating"
                            [disabled]="true"
                          >
                          </ion-input>
                          <ion-input
                            mode="md"
                            class="modern-input"
                            fill="outline"
                            label="price per meter"
                            [value]="item.value"
                            labelPlacement="floating"
                            [disabled]="true"
                          >
                            <div slot="start">₹</div>
                          </ion-input>
                          <ion-badge
                            color="danger"
                            button
                            (click)="delete(item.key, item.value, 'fabrics')"
                          >
                            <ion-icon name="close" color="light"></ion-icon>
                          </ion-badge>
                        </div>
                      </div>

                      }
                    </ion-card>
                  </ion-list>
                </div>
              </ion-card-content>
              } @else {
              <ion-card-content class="no-selection">
                <ion-icon name="person-circle-outline"></ion-icon>
                <h2>Select a model to view details</h2>
                <p>Choose a model from the list to view their information</p>
              </ion-card-content>
              }
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal
  [isOpen]="isModalOpen"
  (didDismiss)="isModalOpen = false"
  style="
    --border-radius: 10px;
    backdrop-filter: blur(10px);
    --background: rgba(255, 215, 231, 1);
  "
>
  <ng-template>
    @if (category !== 'fabrics') {
    <app-change-model
      [category]="category"
      [model]="selectedModel"
    ></app-change-model>
    }@else {
    <div style="padding: 20px">
      @for (item of filterFabric; track $index) {
      <ion-list class="fabric-list">
        <ion-item lines="none">
          <ion-label>
            <h2>{{ item?.name }}</h2>
            <small> ₹ {{ item?.price_per_meter }}</small>
          </ion-label>
          <ion-checkbox
            slot="end"
            (click)="addFabric(item?.name, item?.price_per_meter)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
      }
    </div>
    }
  </ng-template>
  ></ion-modal
>
